* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;

}
.airbnblogo{
    padding-top: 10px;
    padding-left: 80px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.top_bar {
    padding-left: 80px;
}

.nav_bar_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.top_padding{
    padding-top: 20px;    
}
a{
    color: white;
    text-decoration: none;
}
.top_padding
{
    color: white;
}
.myprofile{
    height: 42px;
    width: 77px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px  ;

}
.right_elements_div{
    padding-right: 80px;
     display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.search_bar_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search_items_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    margin-right: 10px;
}

.search_items_div:first-child {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 10px;
    width: 30%;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.vertical_line{
    width: 0.1px;
    height: 25px;
    background-color: #C5CDD6;
}
.input_fields{
    border: 0px;
  
    
  
}
body{
    width: 100vw;
}

.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    background-color: white;
    max-width: 1000px;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    border-radius: 30px;
}
.search_bg_circle{
    width: 35px;
    height: 35px;
    background-color: #FF385C;
    border-radius: 50%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
   margin-right: 20px;
    width: 60px;
    height: 50px;
}





.search_icon_div{


   
    padding-left: 6px;
    padding-top: 5px;

}
.search_bg_circle p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}
/* .search_icon_svg{
    width: 10px;
    height:10px;
}
.search_icon_svg * {
    width: 100%;
    height: 100%;
} */


