* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);

}
.airbnblogo{
    padding-top: 10px;
    padding-left: 80px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.top_bar {
    padding-left: 80px;
}

.nav_bar_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.top_padding{
    padding-top: 20px;    
}
a{
    color: white;
    text-decoration: none;
}
.top_padding
{
    color: white;
}
.myprofile{
    height: 42px;
    width: 77px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px  ;

}
.right_elements_div{
    padding-right: 80px;
     display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.search_bar_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.65rem;
    align-items: center;
    
   
}
.search_items_div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.vertical_line{
    width: 0.1px;
    height: 25px;
    background-color: #C5CDD6;
}
.input_fields{
    border: 0px;
  
    
  
}
body{
    width: 100vw;
}

.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    background-color: white;
    max-width: 1000px;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    border-radius: 30px;
}




